

<div class="owl-carousel owl-theme">
    <div style="width:" class="item"><img src="~/images/God-of-War-Ragnarok.jpg" alt=" " /></div>
    <div style="width:" class="item"> <img src="~/images/horizon.jpg" alt=" " /></div>
    <div style="width:" class="item">  <img src="~/images/LastOfUs2.jpg" alt=" " /></div>
    <div style="width:" class="item">  <img src="~/images/CallOfDuty.jpg" alt=" " /></div>
    <div style="width:" class="item">  <img src="~/images/mortalKombat.jpeg" alt=" " /></div>


</div>

<div class="row">
    <div class="col-3">

      <vc:categories></vc:categories>




    </div>
    <div class="col-9">

        <vc:products category-id="@ViewBag.CategoryId"></vc:products>

    </div>

</div>